.App {
  text-align: center;
}

div {
  box-sizing: border-box;
}
.list {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid grey;
}

.container {
  display: flex;
  flex-direction: column; /* 수직 스택 */
  gap: 10px; /* 요소 사이의 간격 */
}

.title {
  width: 100%; /* 너비를 같게 설정 */
  padding: 8px; /* 패딩으로 조금 더 편안하게 */
  box-sizing: border-box; /* 패딩을 포함한 총 너비 */
}

.desc {
  height: 100px; /* 텍스트 에리아의 높이 */
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background: #eee;
  text-align: left;
}

.black-nav {
  display: flex;
  background: black;
  width: 100%;
  color: white;
  padding-left: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
